{# copyright and footer links #}

<footer id="site-footer">
	<div class="social">
		<div class="fb-like" data-href="http://oeco.github.io/mananciais/" data-colorscheme="dark" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
		<a href="https://twitter.com/share" data-url="http://oeco.github.io/mananciais/" class="twitter-share-button" data-lang="pt-BR">Tuitar</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
		<div class="credits">
		<p class="dev"><span>Desenvolvido por <a href="http://github.com/miguelpeixe/" target="_blank" rel="external" title="Miguel Peixe">Miguel Peixe</a> em </span><a href="http://lab.oeco.org.br/" target="_blank" rel="external" title="EcoLAB"><img class="ecolab" src="img/ecolab.png" alt="EcoLAB" /></a></p>
		<p class="data"><span>Dados</span> <a href="http://sabesp.com.br/" target="_blank" rel="external" title="SABESP"><img src="img/sabesp.png" alt="SABESP" /></a></p>
		</div>
		<div class="fork">
		<p><a href="http://github.com/oeco/mananciais" target="_blank" rel="external" title="GitHub">Código disponível no GitHub</a></p>
	</div>
</footer>